@import "variables.scss";

html,
body {
	overflow-x: clip;
}

html {
	scroll-behavior: smooth;
	scroll-padding-top: 95px;
}

body {
	margin: 0;
	font-family: monospace;
	font-size: 18px;
	text-align: center;
}

main {
	position: relative;
	z-index: 1;
}

section {
	margin: 0;
	padding: 50px 0;
}

h2 {
	color: $h2-font-color;
	font-size: 40px;
	margin-top: 0;
}

.projects-section {
	background-color: $projects-background-color;
	color: $projects-font-color;
}

.carousel {
	background: $projects-card-background-color;
	width: 300px;
	height: 250px;
	margin: auto;
	padding: 20px;
	box-sizing: border-box;
	position: relative;
}

.carousel-slide {
	margin: 5px 10px;
	animation-duration: 0.1s;
	animation-timing-function: ease-in;
}

@keyframes slide-in-from-right {
	0% {
		transform: translateX(40px);
	}
	100% {
		transform: translateX(0);
	}
}

@keyframes slide-in-from-left {
	0% {
		transform: translateX(-40px);
	}
	100% {
		transform: translateX(0);
	}
}

.slide-number,
.prev-slide,
.next-slide {
	position: absolute;
	bottom: 5px;
}

.slide-number {
	left: 0;
	right: 0;
	margin: auto;
}

.prev-slide {
	left: 5px;
}

.next-slide {
	right: 5px;
}

.prev-slide:hover,
.next-slide:hover {
	cursor: pointer;
}

.experience-section {
	background: $experience-background-color;
	color: $experience-font-color;
}

.experience-list {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-evenly;
	padding: 0;
	margin-bottom: 0;
}

.experience-item {
	display: flex;
	flex-flow: column wrap;
	align-items: center;
	background: $experience-card-background-color;
	width: 300px;
	padding: 5px 20px 15px 5px;
	margin: 15px;
}

.skills-section,
.skills-section p {
	margin-bottom: 0px;
	padding-bottom: 20px;
}

.skills-section p {
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	width: 300px;
}

.skills-section {
	background: $skills-background-color;
	color: $skills-font-color;
	padding-bottom: 100px;
}
