@import "variables.scss";

nav {
	position: sticky;
	top: 0px;
	z-index: 2;
}

nav ul {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-evenly;
	font-family: monospace;
	background: $nav-background-color;
	color: $nav-font-color;
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}

nav ul li {
	font-size: 40px;
	padding: 6px;
	border: 5px solid $nav-background-color;
	margin: 10px 0px;
}

nav ul li:hover {
	font-weight: bold;
	cursor: pointer;
	border-bottom: 5px solid $nav-hover-color;
}

nav ul li a {
	color: inherit;
	text-decoration: inherit;
}
