html {
	scroll-behavior: smooth;
	scroll-padding-top: 95px;
}

body {
	margin: 0px 50px;
	font-family: monospace;
	background: black;
	color: white;
	font-size: 18px;
	text-align: center;
}

/* Start of Header */
.top {
	text-align: center;
	padding-bottom: 10px;
	padding-top: 30px;
}

.top img {
	padding: 6px;
	border: 5px solid black;
}

#profile-pic:hover {
	cursor: pointer;
	border-bottom: 5px solid #fca311;
}

.top dialog {
	background: rgb(0, 0, 0, 90%);
	border: solid #14213d 3px;
	outline: #14213d;
}

.top dialog p {
	color: white;
}

.top h1 {
	margin-top: 22.5px;
	font-size: 50px;
	color: #e5e5e5;
}

.top p,
.top a {
	font-size: 20px;
}

.top a {
	color: lightblue;
	text-decoration: inherit;
}

.top a:hover {
	font-weight: bold;
}
/* End of Header */

/* Start of Navbar */
nav {
	position: sticky;
	top: 0px;
	margin: 0px -50px;
}

nav ul {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-evenly;
	font-family: monospace;
	background: #14213d;
	color: #e5e5e5;
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}

nav ul li {
	font-size: 40px;
	padding: 6px;
	border: 5px solid #14213d;
	margin: 10px 0px;
}

nav ul li:hover {
	font-weight: bold;
	cursor: pointer;
	border-bottom: 5px solid #fca311;
}

nav ul li a {
	color: inherit;
	text-decoration: inherit;
}
/* End of Navbar */

/* Start of Main Content */
main {
	background: black;
	margin: auto -50px;
}

section {
	margin: 80px 0px;
}

h2 {
	color: #fca311;
	font-size: 40px;
}

.experience-list {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-evenly;
	padding: 0px;
}

.experience-item {
	display: flex;
	flex-flow: column wrap;
	align-items: center;
	background: #14213d;
	width: 300px;
	padding: 5px 20px 15px 5px;
	margin: 15px;
}

#skills-section,
#skills-section p {
	margin-bottom: 0px;
	padding-bottom: 20px;
}
/* End of Main Content */

footer {
	background: #fca311;
	padding: 10px;
	margin: 0px -50px;
	position: relative;
	z-index: -2;
}

.left-background-image,
.right-background-image {
	position: fixed;
	z-index: -1;
}

.left-background-image {
	left: 0px;
	bottom: 0px;
}

.right-background-image {
	right: 0px;
	bottom: 0px;
}
